# neuroml bits
pyNeuroML
pyNeuroML[analysis]
pyNeuroML[annotations]
pyNeuroML[tune]

# visualisation
pyNeuroML[vispy]

# validation
osbmodelvalidation

{% if cookiecutter.simulation_engine|lower != "Other" -%}
# simulation engine
pyNeuroML[{{ cookiecutter.simulation_engine }}] {% endif -%}

{% if cookiecutter.use_nsg is true %}
# NSG support
pyNeuroML[nsg] {% endif -%}

{% if cookiecutter.sbml_sedml_support is true %}
# COMBINE support
pyNeuroML[combine] {% endif -%}

{% if cookiecutter.use_jupyter_lab is true %}
# JupyterLab support
pyNeuroML[jupyter] {% endif -%}
